
/*--banner--*/

.bannerCon{
	background:url(../images/broken/bannerBack.png) no-repeat top center;
	text-align: center;
	height: 505px;
}

.bannerImg{
	margin:auto;
	margin-top:4%;
}

.wordCon{
	background:url(../images/broken/tudi1.png) no-repeat top center;
	text-align: center;
	position: relative;
	height: 667px;
	margin-top:-1px;
}

.wordSecondCon{
	background:url(../images/broken/tudi2.png) no-repeat top center;
	text-align: center;
	position: relative;
	height: 834px;
}

.ShoperCon{
	text-align: center;
}

.ruguoImg{
	margin:2% auto;	
}

.tianmaoImg{
	margin-top:1%;
}

.TianmaoCon{
	text-align: center;
	margin:1% auto;
	width: 555px;
}

.TianmaoItemCon{
	margin:auto;
	margin-top:1rem;
}	

.TianmaoItem{
	border:1px solid #feeb68;
	font-size: 34px;
	line-height: 34px;
	color:#feeb68;	
	padding:0.5rem;
	margin:0 5px;
	float:left;
}

.anniu1Img{
	margin:1rem auto;
	clear:both;
}

.quesIconImg{
	z-index: 0;	
	max-width: 150px;
	position: absolute;
	top:-26rem;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	opacity: .8;
	filter:alpha(opacity=80);
}

.kulianImg{
	z-index: 0;	
	position: absolute;
	top:-45%;
	left:0;
	right: -35%;
	bottom: 0;
	margin:auto;
}

.liutianImg{
	margin:auto;
	padding-top:2%;
	clear: both;
	display: block;
}

.youshiImg{
	margin:1.2rem auto;
	display: block;
	margin-top:2rem;
}

.anniu2Img{
	margin:1em auto;
	display: block;
}

/*----------间隔带------------------------*/
.brokenGapCon{
	background:url(../images/broken/brokenGap1.png) no-repeat center top;
	height: 232px;
	margin-top:-1px;
}

.brokenGapTextCon{	
	margin:auto;
	padding-top:3rem;
	text-align: center;
	font-size: 50px;
	line-height: 54px;	
}


.brokenGapTextF
{
	color:#feeb68;
	font-weight: 900;
}

.brokenGapTextF:before{
	content:'「';
	font-size: 2.4rem;
	line-height: 2rem;
	vertical-align: top;
}

.brokenGapTextS{
	color:#fff;
	font-weight: 900;	
	font-size: 40px;
	display: block;
}

.brokenGapTextS:after{
	content:'」';
	font-size: 2.4rem;
	color:#feeb68;
	line-height: 2rem;
	vertical-align: bottom;
}

.brokenGapImg{
	padding:1rem 0;
	margin:auto;
	display: block;
	text-align: center;
}


.taskDivCon{
	background-image:url(../images/broken/taskbackImg.png);
	background-repeat: repeat;
	width:100%;
	padding: 2% 0;
}

.taskDivInnerCon{
	margin:auto;
	/*text-align: center;*/
	position: relative;
}


.taskUl{
	list-style: none;
	position: relative;
	margin:auto;
	width: 1000px;
}

.taskUl:before{
 content: '';
 position:absolute;
 top:0;
 left:32px;
 height: 100%;
 width: 3px;
 background-color:#fff;
}


.taskLi{
	position: relative;
	margin-bottom: 20px;
}

.taskItemTop{
	border:2px solid #feeb68;
	padding:1rem;	
	display: inline-block;	
	background: #0c182d;
	font-size: 1.6rem;	
	line-height: 2rem;
	color: #feeb68;
	font-weight: bold;
	letter-spacing: 0.4rem;
	vertical-align: top;
}

.taskItemContentCon{
	margin-bottom: 20px;
	display: inline-block;	
	margin-left:2%;
	width: 900px;
}

.taskItemContentT{
	color:#feeb68;
	font-size: 28px;
	line-height: 34px;
	font-weight: bold;
	text-align: left;
	padding:1% 0;
	margin:0.8rem 0;

}

.taskItemImgCon{
	display: block;
	width: 100%;
	text-align: center;
}

.taskMoreT{
	margin-top:4%;
	text-align:center;
}

.taskItemimg{
	display: block;	
	margin:auto;
	margin-top:0.8rem;
}

.taskResultItem{
	display: inline-block;
}

.taskbottomCon{
	margin:2rem auto;
	text-align: center;
}

/*-------------驱动---------*/

.qiangzhixingImg{
	max-width: 750px;
	margin-top:30px;
	width:80%;
}

.shopGapCon{
	background:url(../images/broken/biaotitudi.png) no-repeat center top ;
}

.shopGapTextS{
	color:#feeb68;
	font-weight: 900;
	padding-top:10px;
	display: block;
}

.shopGapTextS:after{
	content:'」';
	font-size: 2.4rem;
	color:#feeb68;
	line-height: 2rem;
	vertical-align: bottom;
}


.driverCon{
	background-image:url(../images/broken/taskbackImg.png);
	background-repeat: repeat;
	width:100%;
}

.driverContainer{
	padding:5%;
	margin:auto;
	text-align: center;
}


.sixdayGapCon{
	background-image:url(../images/broken/sixdayback.png);
	background-repeat: repeat;
	width:100%;
}

.driverContainer{
	padding:5%;
	margin:auto;
	text-align: center;
}
.driverImg{
	max-width: 750px;
	width:75%;
}

/*-------------培训场景-----------------*/
.trainCourseOuter{
	background-image:url(../images/broken/taskbackImg.png);
	background-repeat: repeat;
	width:100%;
}

.trainCourseCon{
	margin:auto;
	padding:3% 0;
	text-align: center;
}

.trainCourseTopCon{
	margin:3% auto;
	max-width:1000px;
	width:100%;
}

.trainCourseTitle{
	font-size:50px;
	color:#feeb68;
	font-weight: bold;
	line-height: 52px;
}

.trainCourseTitle:before{
	content:'「';
	vertical-align: top;
}

.trainCourseTitle:after{
	content:'」';
	vertical-align: bottom;
}

.trainCourseShowCon{
	margin:auto;
	margin-top:4%;
}

.trainCourseTwoCon{
	margin-top:2%;
}

.trainCourseItem{
	border:2px solid #feeb68;
	background-color:#feeb68;
	display: inline-block;
	margin-right: 1rem;
	max-width: 400px;
	width:40%;
}

.trainItemText{
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin:0.2rem 0;
	color:#18315e;
}
.trainItemImg{
	max-width: 400px;
	width:100%;
}

/*--------------- 6天6夜------------*/
.sixdaynightOuter{
	background-image:url(../images/broken/taskbackImg.png);
	background-repeat: repeat;
	width:100%;
	padding: 2% 0;
}

.sixdaynightCon{	
	padding:1% 0;
	text-align: center;
	margin:auto;
}

.sixdayItemGroupCon{
	margin-top:3%;
	width: 1150px;
	text-align: center;
	margin:auto;
}

.sixdayItem{
	background-color:#fff;
	color:#777777;
	width:170px;
	height: 170px;
	margin-right: 0.2rem;
	margin-left:0.2rem;
	border:1px solid #ccc;
	display: inline-block;

}

.hidetraingleD{
	width: 0;
	height: 0;
	border-top:8px solid #feeb68;
	border-left: 8px solid transparent;
	border-right:8px solid transparent;
	display: none;
}


.sixdayItem:hover{
	/*background-color:#feeb68;*/
	transform:scale(1.1,1.1);
	z-index: 10;
	transition:all 0.4s ease;
	/*color:#18315e;*/
	cursor: pointer;
}

.sixdayItemhover{
	background-color:#feeb68;
	transform:scale(1.1,1.1);
	z-index: 10;
	transition:all 0.4s ease;
	border:1px solid #feeb68;
	color:#18315e;
}

/*.sixdayItem:hover .hidetraingleD
{
	position: absolute;
	bottom:-7px;
	left:0;
	right: 0;
	margin:auto;
	display: block;
}*/

/*.sixdayItem:hover .sixdayItemImgCon{
	background-position: -72px 0;
}*/

.hidetraingleDhover{
	position: absolute;
	bottom:-7px;
	left:0;
	right: 0;
	margin:auto;
	display: block;
}

.sixdayItemTop{
	margin-top:1rem;
}

.sixDayF{
	margin-top:0.5rem;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.sixDayS{
	font-size: 16px;
	line-height: 16px;
	margin-top:0.2rem;
}

.dayShowOuterCon{
	position: relative;
	width:1164px;
	height: 400px;
	text-align: center;
	margin:auto;
}

.dayShowCon{
	text-align: center;
	margin-top:2rem;
	position: absolute;
	top:30px;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
}

.hidenDiv{
	display: none;
}

.dayShowItem
{
	display: inline-block;
	border:1px solid #feeb68;	
	width:330px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.dayShowItemTitle{
	background-color:#feeb68;
	font-size: 24px;
	line-height: 28px;
	padding:0.2rem 0;
}

.sixdayItemImgDay1{
	background: url(../images/broken/ideajoin1.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}

.sixdayItemImgDay2{
	background: url(../images/broken/ideajoin2.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}


.sixdayItemImgDay3{
	background: url(../images/broken/ideajoin3.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}


.sixdayItemImgDay4{
	background: url(../images/broken/ideajoin4.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}


.sixdayItemImgDay5{
	background: url(../images/broken/ideajoin5.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}


.sixdayItemImgDay6{
	background: url(../images/broken/ideajoin6.png) 0 0 no-repeat;
	height: 72px;
	width: 72px;	
	margin:auto;
}


/*-------------讲师间隔---------------*/
.teacherGapCon{
	background:url(../images/broken/teacherGapBackImg.png) center top no-repeat;
	width:100%;
}

.brokenGapTextF:before{
	content:'「';
	font-size: 2.4rem;
	line-height: 2rem;
	vertical-align: top;
}

.teacherGapTextS{
	font-weight: 900;	
	font-size: 40px;
	color: #feeb68;
}

.specialGapTextS:after{
	content:'」';
	font-size: 2.4rem;
	color:#feeb68;
	line-height: 2rem;
	vertical-align: bottom;
}

/*.teacherGapTextS:after{
	content:'」';
	font-size: 2.4rem;
	color:#feeb68;
	line-height: 2rem;
	vertical-align: bottom;
}*/

/*------------------------讲师----------------------*/
.teacherOuterCon{
	background-image:url(../images/broken/taskbackImg.png);
	background-repeat: repeat;
	width:100%;
}

.teacherInnerCon{
	margin:auto;
	padding:4% 0;
	text-align: center;
}

.teacherItemGroup{	
	text-align:center;
}

.teacherItem{
	display: inline-block;
	vertical-align: top;
	margin-top:2rem;
	margin:2rem 0.5rem 2rem 0.5rem;
}

.teacherItem:hover .teacherItemTextCon{	
	background-color:#274f95;
}

.teacherItem:hover{
	transform:translate(0,-20px);
	transition:all 0.4s ease;
	cursor: pointer;
}

.teacherItemImg{
	width:155px;
	height: 306px;
}

.teacherItemImgCon{
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.teacherItemTextCon{
	display: inline-block;
	vertical-align: top;
	width: 175px;
	height: 296px;
	background-color:#0f254c;
	text-align: left;	
	padding:5px 10px;
}

.teacherItemName{
	margin-top:10%;
	color:#feeb68;
	font-size:24px;
	line-height: 30px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom:0.5rem;
}

.teacherItemPosName{
	color:#fff;
	font-size: 16px;
	line-height: 16px;
	margin:0.5rem 0;
}

.teacherItemIntro{
	color:#fff;
	line-height: 18px;
}

/*---------- 5位实力教练 -----*/
.teacherCoachCon{
	margin:5% auto;
}

.teacherCoachTitle{
	position: relative;
}

.teacherCoachTitleImg{
	margin-top:20px;
}

.teacherCoachTitleText{
	color:#feeb68;
	font-size: 40px;
	line-height: 40px;
	position: absolute;
	font-weight: bold;
	top:0%;
	left:0;
	right: 0;
	bottom:0;
	margin:auto;
}

.teacherCoachList{
	margin-top:5%;
	text-align: center;
}

.teacherCoachItemImgCon{
	position: relative;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}

.teacherCoachItemImgShadow{
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
}

/*.teacherCoachItemImgCon{
	position: relative;
	width: 160px;
	border-radius: 80px;
}

.teacherItemImgShadow{
	background-color:#000;
	opacity: 0.3;
	filter:alpha(opacity=30);
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	margin:auto;
	width: 100%;
	height: 100%;
}
*/
.teacherCoachItem{
	margin:0 1rem;
	display: inline-block;
	vertical-align: top;	
}

.teacherCoachItem:hover{
	cursor: pointer;
}

/*.teacherCoachItem:hover .teacherCoachItemImg{
	transform: rotateY(360deg);
	transition:all 1s ease;
}*/

.teacherCoachItemImg{
	max-width: 160px;
	width:100%;
	margin-bottom: 8px;
}

.teacherCoachName{
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;	
	color: #feeb68;
	margin-bottom: 4px;
	margin-top:8px;
}

.teacherCoachIntro{
	color:#fff;
	line-height: 16px;	
}

.teacherCoachIntro p{
	margin-top:4px;
}

.guideCon{
	margin-top:4%; 
	text-align: center;
}

.guideTextCon{
	color:#feeb68;
	margin:auto;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.guideImgCon{
	display: inline-block;
	vertical-align: middle;
}

.guideTextUl{
	list-style: square;
}

.guideTextLi{
	font-size: 22px;
	line-height: 26px;
	margin-top: 30px;
}

.guideSpecial{
	color:#fff;
}

/*-----------------学习效果------------------*/
.learnEffectCon{
	background: url(../images/broken/learnEffectBack.png) center top no-repeat;
	height: 636px;
}

.learnEffectInnerCon{
	margin:0 auto;
	text-align: center;
	padding:2% 0;
}

.learnEffectTitle{
	color:#feeb68;
	font-weight: bold;
	font-size:50px;
	line-height: 53px;
	margin:1% 0;
}

.learnEffectTitle:before{
	content:'「';
	vertical-align: top;
}

.learnEffectTitle:after{
	content:'」';
	vertical-align: bottom;
}

.learnVideoCon{
	height: 345px;
    width: 1081px;
    margin: auto;
    margin-top: 68px;    
}

.learnVideoEleimg{
	max-width: 380px;
}

.learnVideoInnerCon{
	float:left;	
	vertical-align: bottom;
	width: 512px;
	height: 304px;
	margin:auto;
	margin-right: 2rem;
	border:2px solid #feeb68;
}

.learnVideoInnerCon embed{
}

.learnIntroCon{
	float:left;	
	width: 490px;
	text-align: left;
	vertical-align: bottom;
	color:#fff;
	height: 240px;
	font-size: 20px;
	line-height: 24px;
}

.shopName{
	font-weight: bold;
	font-size: 28px;
	line-height: 30px;
	border-bottom: 1px solid #5c6b87;
	padding-bottom: 0.5rem;
}


.learBeforeType{
	color:#feeb68;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}

.typeName{
	margin:2% 0;
	border-bottom: 1px solid #5c6b87;
	padding-bottom: 0.5rem;
}

.learBeforeCon{	
	margin:2% 0;
	border-bottom: 1px solid #5c6b87;
	padding-bottom: 0.5rem;
}

.learnTrain{
	margin:2% 0;
}

.learBeforeContext{
	padding-bottom: 12px;	
}

.videoBtnCon{
	margin-top:1%;
}

.preBtn{	
	margin-right: 5%;
}

.videoBtn{
	color:#18315e;
	background-color: #feeb68;
	display: inline-block;
	border-radius: 1rem;
	padding:0.8rem 1.5rem;
	text-align: center;
	font-size:20px;
	line-height: 20px;
	font-weight: bold;
}

/*-----------报名须知-------*/
.mustknowCon{
	margin:3% auto;
	max-width: 900px;
	width:100%;
	padding:2% 0;
}

.mustknowTitleImg{
	display: block;
	margin: auto;
	max-width: 400px;
	width: 60%;
}
.mustknowQAndAImg{
	display: block;
	margin:auto;
	margin-top:3%;
	max-width: 300px;
}

.mustkonwItem{
	text-align: left;
}

.mustknowItemTitleCon{
	margin:1rem 0;
}

.mustknowItemTitle{
	font-size: 24px;
	line-height: 26px;
	background-color:#feeb68;	
	border-radius: 2rem;
	padding:0.5rem;
	color:#18315f;
	font-weight: bold;
}

.mustknowCon{

	width:90%;	
	max-width: 1000px;
}

.mustknowItemContent{
	color:#fff;
	font-weight: 400;
	font-size:20px;
	line-height: 26px;
	margin:4% auto;
}



/*---------报名信息-------*/
.reportOuterCon{
	background:url(../images/broken/reportBack.png) no-repeat 0 0;
}

.reportCon{
	margin:auto;
	padding:3%;
	padding-top:3%;
	text-align: center;
}


.reportInnerCon{
	background-color: #f2f2f2;
	border:8px solid #394b6d;
	border-radius: 20px;
	padding:3%;
	position: relative;
	max-width: 900px;
	margin:auto;
}

.reportTitleCon{
	/*position: relative;*/
}

.reportTitle{
	position: absolute;
	top:-1.8rem;
	left:0;
	right: 0;
	margin:auto;
}

.reportTitleImg{
}


.reportContent{
	margin-top:2%;
	padding:0 3%;
	text-align: center;
	justify-content: space-between;
}

.reportLeft{
	display: inline-block;	
	margin-right: 120px;
}

.reportLeftul
{
	color:#3351a4;
	text-align: left;
}

.reportLeftLi{
	margin-top:0.5rem;
	font-size: 20px;
	line-height: 24px;
}

.reportItemP{
	color:#000;
	font-weight: bold;
}

.reportItemInfo{
	font-weight: bold;
	font-size: 24px;
	color:#18325f;
}

.reportGapLine{
	font-weight: bold;
	margin:1% 0;
}

.reportAddressItem{
	color:#000;
	font-weight: bold;
	margin-top:0.3rem;
}

.reportAddressItemInfo{
	color:#18325f;
}

.qcodeimg{
	max-width: 177px;
	width:100%;
}

.qcodeTextCon{
	margin:2% auto;
	color:#18315f;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
}

.qcodePhone{
	font-weight: bold;
}

.qcodeCon
{
	display: inline-block;
}

.qcodeContact{
	text-align: center;
}

.qcodeContactImg{
	width:80%;
	max-width: 165px;
	margin:auto;
	margin-top: 4%;
}