*{margin:0;padding:0;}
a{text-decoration:none;}


body {
    font: 14px/100%  'Microsft YaHei',arial,"Hiragino Sans GB","Hiragino Sans GB W3";
    _zoom: 1;
}

.fixedWidth{width:1200px;}

.clear{clear:both;}