*{margin:0;padding:0;z-index:1;}
a{text-decoration:none;}

body {
    font: 14px/100%  Arial,'Microsoft YaHei','微软雅黑','Microsft YaHei',arial,"Hiragino Sans GB","Hiragino Sans GB W3";
    _zoom: 1;
}

.gotoKefuBtn{
	cursor: pointer;
}

/*回顶部*/
.m-TD{
	position: fixed;
	right:3%;
	bottom:10%;
	z-index: 120;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.m-TD ul{
	list-style: none;
}

.m-TD ul li{
	margin-top:10px;
}

.m-TD ul li a{
	padding:8px 20px;
	display: block;
	background-color:#ff4600;
	color:#fff;
	border:2px solid #fff;
}



div,p,span,img{}

.fixedWidth{width:1200px; min-width: 800px;}

.clear{clear:both;}


.Topinline-box{
	display: inline-block;
	float:none;
}

/*头部*/
.LogoT{
	margin:auto;
	padding-top:2%;
	padding-bottom: 1%;
}

.navTop{
	background-color:#323232;
	color:#fff;
	margin:auto;
}

/*左侧Logo*/
.LogoLeft{
	display: inline-block;
	margin-left:7%;
}

.TopLogoD{
	vertical-align: bottom;
}

.Toplogo{
	width: 212px;
}

.TopLogoLine{
	width:0.16rem;
	background-color:#dadada;
	margin:0 0.4rem;
	height: 2.4rem;
	vertical-align: bottom;
}

.LogoTitleD{
	min-width:180px;
	vertical-align: bottom;
}

.TopLogoFirst{
	font-size:18px;
	line-height: 18px;
	font-weight: bold;	
	color:#323232;
	letter-spacing: 6px;
}

.TopLogoSecond{
	margin-top:3%;
	font-weight: bold;
	letter-spacing: 0.08rem;
	font-size:14px;
	line-height: 14px;	
	color:#323232;
}

.TopPhoneRight{
	display: inline-block;
	margin-left: 20%;
}

.TopPhoneD{	
	vertical-align: top;
}

.TopPhoneNumD{

}

.TopPhoneLogo{
	width: 48px;
}
.TopPhoneTitle{
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	margin-left:8px;
	color:#323232;
}

.TopPhone{
	background-color:#ec6c00;
	border-radius: 30px;
	color:#fff;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	padding:4px 20px  !important;
	margin-top:2%;
}

/*导航标题*/
.nvavTopUl{
	margin:auto;
	text-align: center;
	list-style: none;
	height:39px;
}

.nvavTopUl li{
	display: inline-block;
	width:15%;
	margin:auto;
}

.TopABtn{
	color:#fff;
	width:100%;
	font-size:16px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	padding:11px 40px;
}

a.TopABtn:hover{
	background-color: #e77817;
}

.aTtopABtnhover{
	background-color: #e77817;
}

