
html,body{
	min-width: 1042px;
}

.videoShadow{
	background-color: #000;
	opacity:0.8;
	filter:alpha(opacity=80);
	position:fixed;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	width:100%;
	height: 100%;
	z-index: 20;
	display: none;
}

.vidoeShowContainer{
	position:fixed;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	margin:auto;
	width: 680px;
    height: 470px;
	z-index: 30;
	display: none;
}

.operaDivCon{	
	width:671px;
}

.operaDicInerCon{
	text-align:right;
}

#closeVideo{
	margin-right: 20px;
	color:#db4e1d;
	font-size:22px;
	line-height: 30px;
}

.videoEleContainer{	
	width: 652px;
    height: 444px;
	border:2px solid #db4e1d;
}

.orangeText{
	color:#ec6c00;
}

.Topinline-box{
	display: inline-block;
	float:none;
}

/*------------------- Banner -----------*/
.BannerD{
	width:100%;
	height: 503px;
	background:url(../images/banner.png) no-repeat center top;
	position: relative;
}

.bannerTextD{
	margin:auto;
	max-width: 1200px;
	padding-top:4%;
	padding-left: 15%;
}

.bannerBig{
	font-weight: bold;
	font-size:70px;
	line-height: 80px;
	color:#ff4600;
}

.bannerLit{	
	font-weight: bold;
	font-size:40px;
	line-height:50px;
	color:#ff4600;
}

.bannerTextUl{
	margin-top:1rem;
	margin-left: 1rem;

}

.bannerTextli{
	color:#ff4600;
	font-size:1.2rem;
	line-height: 2rem;
	font-weight:500;
}

.bannerTextli span{
	color:#333333;
}

/*间隔*/
.gapLineC{
	height:178px;
	background:url(../images/gapBacimg.png) no-repeat center top;
}

.gapContent{
	margin:auto;
	text-align: center;	
	overflow: hidden;
}

.gapFirstT{
	color:#fff;
	font-size: 60px;
	line-height: 70px;
	font-weight: bold;
	letter-spacing: 1rem;
	padding-top:2rem;
	text-indent: 0.8rem;
	width:1200px;
	overflow: hidden;
}

.gapSecondT{
 	position: relative;	
	margin-top:0.5rem;
}

.gapSecondUl{	
	list-style: none;
	margin:auto;
	height: 3rem;
	text-align: center;
	background-color: #fff;
	line-height: 3rem;
}

.gapSecondli{
	display: inline-block;
	vertical-align: middle;
}

.gapSecondText{
	color:#db4e1d;
	line-height: 40px;
	font-size:31px;
	font-weight: bold;
	padding:2px 0 ;
}

.gapLineLitTextSpace1{
	margin: 0 27px;	
}

.gapLineLitTextSpace2{
	margin: 0 54px;	
}


/*快、准、狠*/
.quickContainer{
	margin:3% auto;
	text-align: center;
}

.quickItemImgCon{
	margin-bottom: 20px;
}

.quickItemCon{
	display: inline-block;
}

.quickItemGapLineDiv{
	display: inline-block;
	border-left:1px dashed #ff4600;
	width:1px;
	height: 200px;
	margin-bottom:180px;
	margin-left:40px;
	margin-right: 40px;

}

.threeContentD{
	margin:auto;
	margin-top:3%;
	width:65%;
}

.threeItemText{
	color:#5d5c5c;
	font-size:20px;
	line-height: 28px;
	font-weight: 500;
	font-weight: 600;
	margin-top:5px;
}

.gapS1{
	max-width:370px;
}

.gapT2{	
	text-indent: 0;
	letter-spacing: 0.2rem;
}

.gapS2{
	width:638px;
}

.gapT3{	
	text-indent: 0;
	letter-spacing: 0.2rem;
}

.gapS3{
	width:908px;
}

/*------------先行者---------------*/
.foregoerOuterCon{
	background-color:#f3f6fb;
}

.foregoerInterCon{
	margin:auto;
	padding:3% 0;
	text-align: center;
}

.foregoerItemCon{
	margin:3% 0;

}

.foregoerABtn{
	background:url(../images/our/foregoerdashOuter.png) 0 0 no-repeat;
	height: 136px;
	width: 200px;
	display: block;
	font-size:24px;
	line-height: 136px;
	color:#b4b4b5;
	font-weight: bold;
}

/*.foregoerABtn:hover{
	background-color:#e66b46;
}*/

/*.foregoerABtn1:hover{
	background:url(../images/our/foregoerABtn2.png) 0 0 no-repeat;
}

.foregoerABtn2:hover{
	background:url(../images/our/foregoerABtn1.png) 0 0 no-repeat;
}

.foregoerABtn3:hover{
	background:url(../images/our/foregoerABtn3.png) 0 0 no-repeat;	
}

.foregoerABtn4:hover{
	background:url(../images/our/foregoerABtn4.png) 0 0 no-repeat;	
}

.foregoerABtn5:hover{
	background:url(../images/our/foregoerABtn5.png) 0 0 no-repeat;	
}
*/
.foregoerABtn1hover{
	background:url(../images/our/foregoerABtn2.png) 0 0 no-repeat;
	color:#fff;
}

.foregoerABtn2hover{
	background:url(../images/our/foregoerABtn1.png) 0 0 no-repeat;	
	color:#fff;
}

.foregoerABtn3hover{
	background:url(../images/our/foregoerABtn3.png) 0 0 no-repeat;
	color:#fff;		
}

.foregoerABtn4hover{
	background:url(../images/our/foregoerABtn4.png) 0 0 no-repeat;	
	color:#fff;
}

.foregoerABtn5hover{
	background:url(../images/our/foregoerABtn5.png) 0 0 no-repeat;	
	color:#fff;
}

.forgoerHoverDiv,.foregoerItemContentmidCon{
	display: inline-block;	
	vertical-align: middle;
	overflow: hidden;
}

.foregoerItemConLeftBtnImg:hover{
	cursor: pointer;
}

.foregoerItemContentmidCon{

	width:615px;
	height: 96px;
}

.boxContainer{
	width:1464px;
}

.videoEleCon{
	position: absolute;
    top: -132px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 844px;
    height: 528px;
}

.boxImgItem{
	width:197px;
	height:96px;
	margin:0 4px;	
	float:left;		
}


.foregoerItemConLeftCon,.foregoerItemConLeftCon{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5rem ;
}

.foregoerItemContentCon{
	display: inline-block;
	vertical-align: middle;
}

.foregoerItemConUl{
	list-style: none;
}

.foregoerItemLi{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
}

/*-------往期培训--------*/
.EachTrainCon{
	padding:2%;
	margin:auto;
}

.EachTrainItemCon{
	width:1000px;
	margin:auto;
	text-align:center;
}

.EachTrainItemFourCon{
	display: block;
}


.EachTrainItem{
	position: relative;	
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	border:2px solid #ccc;
}

.EachTrainItem:hover{
	cursor: pointer;
	border:2px solid #ff4600;
}

.EachTrainItem:hover .eachTranBottomText{
	color:#ff4600;

}


.eachTrainBottomCon{
	position: absolute;	
	bottom:0;
	left:0;
	right: 0;
	font-size:20px;
	line-height: 24px;
	color:#fff;
	padding-bottom: 4px;
	font-weight: bold;
}

.hidenShoadow{
	opacity: 0.7;
	filter:alpha(opacity=70);
	background-color: #000;
	height: 30px;position: absolute;	
	bottom:0;
	left:0;
	right: 0;
	z-index: -1;
}

.EachTrainItemContext{
	position: absolute;
	bottom:0;
	left:0;
	right: 0;
	margin:auto;
	font-size:1rem;
	color:#fff;
	font-weight: bold;
	background-color:#754021 ;	
	padding:0.6rem 0;
	opacity: 0.7;
	filter:alpha(opacity=70);
}

.EachTrainItem:hover .EachTrainItemContext{
	display: block;
}

.trainBottomInfoCon{
	margin:auto;
	width:1000px;
	margin-top:2rem;
	text-align: center;
	position: relative;
	height:5rem;
}

.trainBottomInfo{
	font-size:27px;
	line-height: 2rem;
	font-weight: bold;
	color:#d94512;
}

.eachTrainImg{
	position: absolute;
	bottom: 0;
	right: 11rem;
}

/*另一种风格的间隔*/
.gapFirstOther{
	font-size:60px;    
	color: #fff;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 6px;
    padding-top: 3.6rem;
    text-indent: 0.8rem;
}

.gapSecondTOther{
	position: relative;	
	background: #f8d59b;
}

.gapSecondTOtherMidText{
	margin: 0 44px;
	letter-spacing: 6px;
}


.gapZhenDuanMidText{
	margin: 0 50px;	
}

.gapSecondUlOther{

	list-style: none;
	margin:auto;
	height: 6.4rem;
	line-height: 6.4rem;
	text-align: center;
	align-items: center;
	background-color: #f8d59b;
}

/*-----讲师第一部份-----*/
.TeacherFCon{
	margin:2% auto;
}

.TeacherFConInner{
	margin:auto;

}

.TeacherFourCon{
	width:100%;
	text-align: center;
	margin-top:0.5rem;
}

.TeacherItem{
	display: inline-block;
	margin:auto;
	margin-right: 0.6rem;
	margin-top:1rem;
	width:195px;
	height: 311px;
	overflow: hidden;
	position: relative;
}

.TeacherItemIntroCon{
	position: absolute;
	top:78%;	
	text-align: left;
	padding:0.2rem 0.8rem;
	color:#fff;
}

.TeacherItemBackDiv{
	background: #000;
	position: absolute;
	opacity: 0.4;
	filter:alpha(opacity=40);
	width:100%;
	height: 100%;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.TeacherName{
	font-size:28px;
	line-height: 34px;
	font-weight: bold;
}

.TeacherPosition{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 8px;
	border-bottom: 2px solid #fff;
	padding-bottom: 8px;
}

.TeacherItem:hover .TeacherItemIntroCon{
	top:45%;
	bottom:0;
	transition:all 0.1s ease-in ;
}

.TeacherIntro{
	line-height: 18px;
}

/*----教练---*/
.CoachCon{
	margin:3% auto;
}

.CoachContent{
	margin:auto;
	text-align: center;
}

.CoachItem{
	display: inline-block;
	border-radius: 50%;
	width:188px;
	height: 188px;
	overflow: hidden;
	margin-right: 2.5rem;
	position: relative;
}

.CoachItemIntroCon{
	position: absolute;
	top:62%;
	left:0;
	right:0;
	color:#fff;
	height: 100%;
}

.coachItemHoverBlack{
	opacity: 0.7;
	filter:alpha(opacity=70);
	background-color: #000;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	width:100%;
	height: 100%;
	z-index: 20;
}

.hidden{
	display: none;
}

.CoachName{
	font-size:28px;
	line-height: 30px;
}

.CoachPosition{
	font-size:16px;
	line-height: 18px;
}

.CoachItemIntroBack{
	position: absolute;
	width:100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	filter:alpha(opacity=30);
	z-index: -1;
}


.BrandOuterCon{
	background-color:#cde2f1;
	padding:2%;
}

.BrandCon{
	width:995px;
	margin:auto;
	padding-left: 17px;
}

.brandItemImg{
	float:left;
	display: block;
	margin-right: 4px;
	margin-top:6px;
	/*border:1px solid #ccc;*/
}

.brandItemImg:hover{
	box-shadow: 0 0 0.4rem 0.2rem #ccc;
	/*border:1px solid #ccc;*/
	transition: all 0.2s ease-in;
	transform: scale(1.2,1.2);
}

.brand1{
	width:244px;
	height: 246px;
}

.brand2{
	width:120px;
	height: 120px;
}

.brand3{
	width:244px;
	height: 120px;
}

/*-----视频 -----*/
.VideoOuterCon{
	margin:3% auto;
}

.VideoCon{
	padding:1%;
	text-align:center;
	margin:auto;
}

.videoTitleCon{
	position: relative;
}

.videoTitleImg{

}

.videoTitle{
	position: absolute;
	top:8%;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	font-size:47px;
	color:#fff;
	line-height: 50px;
	font-weight: bold;
}

.VideoshowCon{
	margin-top:3%;
	position: relative;
}

.gapT4{
	text-indent: 0;
	font-size:47px !important;
	line-height: 50px !important;
	letter-spacing: 0.05rem;

}

.gapSubLiMidP4{
	font-size:29px !important;
	line-height: 30px;
}

.gapS4
{
	max-width:	817px;
}

/*-----诊断-----*/
.judgeCon{
	margin:2% auto;
}

.judgeFourCon{
	margin:auto;
	text-align: center;
}

.judgeFourItem{
	display: inline-block;
	margin: 0 0.5rem;
	width:230px;
	height: 290px;
	vertical-align: top;
}

.judgeFourTitle{
	font-size: 28px;
    line-height: 30px;
    padding:1.4rem 0;
    font-weight: bold;
}

.judgeFourUl{
	margin-top:12%;
	margin-left:14%;
	margin-bottom: 8%;
	text-align: left;
	font-size:20px;
	line-height: 24px;
	height: 110px;
	width: 70%;
	text-align: center;
}

.judgeFourUl li{
	width:164px;
	text-align: center;
	margin:auto;
	margin-top:0.2rem;
}

.jful1 li{
	color:#4a97cf;
}
.jft1{
	background-color:#4a97cf;
	color:#fff;
}

.jfi1{
	border:1px solid #4a97cf;
}
.jb1{
	background-color:#80b6dd;
}

.judgeFourText{
	color:#494948;
}

.judgeBtnCon{
	text-align: center;
}


.judgeBtn{
	display: block;
    padding: 1rem 1rem;
    border-radius: 0.6rem;
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin:auto;
    margin-bottom: 1rem;    
}

.jful2 li{
	color:#e72a86;
}
.jft2{
	background-color:#e72a86;
	color:#fff;
}

.jfi2{
	border:1px solid #e72a86;
}
.jb2{
	background-color:#f396c3;
}


.jful3 li{
	color:#f0a122;
}
.jft3{
	background-color:#f0a122;
	color:#fff;
}

.jfi3{
	border:1px solid #f0a122;
}
.jb3{
	background-color:#f0ca8d;
}


.jful4 li{
	color:#55bec5;
}
.jft4{
	background-color:#55bec5;
	color:#fff;
}

.jfi4{
	border:1px solid #55bec5;
}
.jb4{
	background-color:#9bd6da;
}

/*----------公开课--------------*/

.coachmidGapText{
	margin:0 40px;
	letter-spacing: 8px;
}

.publicCourseOuterCon{
	background-color:#f3f6fb;
	width:100%;
	padding:3% 0;
}

.publicTextCon{
	text-align: center;
	display: inline-block;
	margin-left:10%;
}

.publicCourseCon{
	text-align: center;
	margin:auto;
}

.publicTitleImgCon{
	position: relative;
	width:100%;
	text-align: center;
}

.publicTitleImg{
	width:100%;
	vertical-align: middle;
}

.publicTitleImgText{
	position: absolute;
	top:40px;
	left:30px;
	right:0;
	bottom: 0;
	margin:auto;
	color:#fff;
	font-size:35px;
	font-weight: bold;
	line-height: 37px;
	width:100%;
	height: 100%;
	letter-spacing: 0.2rem;
}

.publicImgCon{
	display: inline-block;
}

.publicImg{
	max-width: 370px;
	width:100%;
}
.publicTitle{
	color:#f35e28;
	font-weight: bold;
	font-size:46px;
	line-height: 50px;
}

.publicContextCon{
	margin-top:1rem;
	text-align:left;
}

.publicContextBeforeImg{
	max-width: 22px;
}

.publicContextF{
	border-bottom:1px dashed #ccc;
	padding-bottom: 0.4rem;
	font-size:25px;
	line-height: 27px;
	color:#f35e28;
	font-weight: bold;
}

.publicContextS{
	padding-top:0.5rem;
	font-weight: bold;
	font-size:20px;
	line-height: 22px;
	color:#494948;
}

.publicBtnCon{
	margin-top:1rem;
	text-align: right;
}

/*-------------报名--------------*/

.reportOuterCon{
	background:url(../images/our/reportBack.png) 0 0 no-repeat;
	height: 551px;
}

.reportLeftCon{
	vertical-align: top;
	margin-right: 85px;
	display: inline-block;
}

.reportCon{
	margin:auto;
	text-align: center;
	width: 1000px;
	padding-top:5%;
}

.reportInnerCon{
	background-color:#f2f2f2;
	border:8px solid #c26c78;
	border-radius: 1rem;
	position: relative;
}

.reportTitleCon{
	position: absolute;
	top:-94%;
	left:0;
	right: 0;
	bottom: 0;
	width: 77%;
	text-align: center;
	margin:auto;
	height: 160px;
}

.reportTitleBackImg{
	width:100%;
}

.reportTitleTextCon{
	position: absolute;
	top:8px;
	left:0;
	right: 0;
	bottom:0;
	margin:auto;
	color:#fff;
	font-size:44px;
	line-height: 48px;
	font-weight:bold;
}

.reportTitleTextCon p{
	margin-top:0.2rem;
}

.reportContextCon{
	margin:auto;
	width:100%;
	margin-top:10%;
	text-align: center;
	margin-bottom: 2%;
	color:#f35e28;
}

.reportLeftUl{
	margin-top:1rem;
}

.reportLeftLi{
	font-weight: bold;
	font-size:24px;
	line-height: 26px;
	text-align: left;
}

.reportLiItemP{
	font-size: 20px;
	line-height: 22px;
	margin-top:1rem;
}

.reportLiItemSpan{
	color:#29292a;
}

.reportRightCon{
	margin-left:5%;
	display: inline-block;
	text-align: left;
}

.QcodeImg{
	max-width: 160px;
}

.reportCodeF{
	font-size:20px;
	line-height: 24px;
	font-weight: bold;
	margin-top:0.4rem;
	color:#000;
}

.QcodePhone{

	font-size:20px;
	line-height: 24px;
	font-weight: bold;
	color:#000;
}

.reportQcodeCon{
	text-align: center;
}

.QcodeS{
	font-size:20px;
	line-height: 24px;
	font-weight: bold;
	color:#000;
}

.QcodeBtnCon{
	margin:auto;
	margin-top:20px;
}