

.orangeText{
	color:#ec6c00;
}

.Topinline-box{
	display: inline-block;
	float:none;
}

/*头部*/
.LogoT{
	margin:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0.8rem 0 !important;
}

.navTop{
	background-color:#323232;
	height:3rem;
	color:#fff;
	margin:auto;
}

/*左侧Logo*/
.LogoLeft{
	float:left;
	margin-left:5%;
}

.TopLogoD{
	vertical-align: bottom;
}

.Toplogo{
	max-width: 180px;
}

.TopLogoLine{
	width:0.16rem;
	background-color:#dadada;
	margin:0 0.4rem;
	height: 2.4rem;
	vertical-align: bottom;
}

.LogoTitleD{
	min-width:180px;
	vertical-align: bottom;
}

.TopLogoFirst{
	font-size:1.4rem;
	font-weight: bold;
}

.TopLogoSecond{
	margin-top:3%;
	font-weight: bold;
	letter-spacing: 0.08rem;
	font-size:1rem;
}

.TopPhoneRight{
	float:right;
	margin-right: 5%;
}

.TopPhoneD{	
}

.TopPhoneNumD{

}

.TopPhoneLogo{
	max-width: 38px;
}

.TopPhoneTitle{
	font-weight: bold;
}

.TopPhone{
	background-color:#ec6c00;
	border-radius: 1rem;
	color:#fff;
	font-weight: bold;
	font-size: 1.2rem;
	padding:0.5rem !important;
	margin-top:2%;
}

/*导航标题*/
.nvavTopUl{
	margin:auto;
	text-align: center;
	list-style: none;
	justify-content: space-between;
}

.nvavTopUl li{
	display: inline-block;
	width:15%;
	margin:auto;
}

.TopABtn{
	color:#fff;
	width:100%;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	display: block;
	font-weight: bold;
}

a.TopABtn:hover{
	background-color: #e77817;
}

/*------------------- Banner -----------*/
.BannerD{
	width:100%;
	height: 503px;
	background:url(../images/banner.png) no-repeat center top;
	position: relative;
}

.bannerTextD{
	margin:auto;
	max-width: 1200px;
	padding-top:4%;
	padding-left: 15%;
}

.bannerBig{
	font-weight: bold;
	font-size:4rem;
	line-height: 5rem;
	color:#ff4600;
}

.bannerLit{	
	font-weight: bold;
	font-size:2rem;
	line-height:3rem;
	color:#ff4600;
}

.bannerTextUl{
	margin-top:1rem;
	margin-left: 1rem;

}

.bannerTextli{
	color:#ff4600;
	font-size:1.2rem;
	line-height: 2rem;
	font-weight:500;
}

.bannerTextli span{
	color:#333333;
}

/*间隔*/
.gapLineC{
	height:178px;
	background:url(../images/gapBacimg.png) no-repeat center top;
}

.gapContent{
	margin:auto;
	text-align: center;	
}

.gapFirstT{
	color:#fff;
	font-size: 3.4rem;
	line-height: 3.8rem;
	font-weight: bold;
	letter-spacing: 1rem;
	padding-top:2rem;
	text-indent: 0.8rem;
}

.gapSecondT{
 	position: relative;	
	margin-top:0.5rem;
}

.gapSecondUl{	
	list-style: none;
	margin:auto;
	display: flex;
	justify-content: space-around;
	height: 3rem;
	align-items: center;
	background-color: #fff;
}

.gapSecondText{
	color:#db4e1d;
	line-height: 2rem;
	font-size:1.5rem;
	font-weight: bold;
}


/*快、准、狠*/
.quickContainer{
	margin:5% auto;
	text-align: center;
}

.threeContentD{
	margin:auto;
	margin-top:3%;
	display: flex;
	width:65%;
	justify-content: space-between;
}

.threeItemText{
	color:#5d5c5c;
	font-size:1rem;
	line-height: 1.2rem;
	font-weight: 500;
}

.gapS1{
	max-width:340px;
}

.gapT2{	
	text-indent: 0;
	letter-spacing: 0.2rem;
}

.gapS2{
	max-width:460px;
}

.gapT3{	
	text-indent: 0;
	letter-spacing: 0.2rem;
}

.gapS3{
	max-width:820px;
}
