
html,body{
	min-width: 1000px;
}

.bannerCon{
	height: 503px;
	background:url(../images/sell/banner.png) top center no-repeat;
}

.banner{
	margin:atuo;
}

.bannerConInner{
}

.bannerCon1{
	background:url(../images/sell/banner1.png) top center no-repeat;
	margin:auto;
	height: 494px;
}

.bannerC1Iner{
	padding:1% 0;
}

.centerTypeBanner{
	text-align: center;
	margin:auto;
}

.bannerC1Title{
	padding-top:3%;
}

.bannerC1MapImg{
	padding-top:3%;
}

.imgCenterType{
	text-align: center;
}

.bannerCon2{
	background:url(../images/sell/banner2.png) 0 0 no-repeat;
	height: 398px;
}

.bannerC2Title{
	padding-top:1%;
}

.bannerC2MapImg{
	padding-top:2%;
}

.bannerCon3{
	background:url(../images/sell/banner3.png) 0 0 no-repeat;
	height: 544px;
}

.bannerC3Title{
	padding-top:12%;
}

.bannerC3p{
	padding-top:3%;
}

.bannerCon4{
	background:url(../images/sell/banner4.png) 0 0 no-repeat;
	height: 421px;

}

.bannerC4map{
	max-width: 750px;
	padding-top:8%;
}

.bannerCon5{
	background-color:#0f0f37;	
}

.baner5Inner{
	margin:auto;
}

.reportD{
	text-align: right;
	margin-right: 8%;
}

.superCourseTitle{
	padding-top:4%;
}

/*------------超级课程------------*/

.courseDay{
	margin:auto;
	 margin-top:4%;
	 text-align: center;
	 padding-bottom:3%;
}


.courseItem{
	display: inline-block;
	margin-right:2rem;
	margin-left: 2rem;
	background:url(../images/sell/selldayback.png) 0 0 no-repeat;
	height: 182px;
	width: 183px;
	position: relative;
	text-align: center;
	color:#0562fd;
	cursor: pointer;
}

.courseItemText{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	font-size:25px;
	line-height: 25px;
	line-height: 182px;
}

.courseItem:hover{
	/*color:#ad0062;*/
	/*background:url(../images/sell/selldayback.png) -182px 0 no-repeat;*/
	transform:scale(1.1,1.1);
}

.courseItemhover{
	color:#ad0062;
	background:url(../images/sell/selldayback.png) -182px 0 no-repeat;

}

.surperCourseOuterCon{
	background-color:#d5e5fe;
}

.surperCourseCon{
	padding-top:2%;
	margin:auto;	
	width:1012px;
	padding-bottom: 3%;
	height: 750px;
}

.surperCourseItem{
	width: 244px;
	margin-right: 3px;
	margin-left: 3px;
	margin-top:15px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.surperCourseImgCon{
	background-color: #203f9a;
}

.surperCourseImgSubTitleCon{
	position: relative;
	height: 28px;
}

.surperCourseImgTitleShadow{
	background-color:#000;
	width:100%;
	height: 28px;
	opacity: 0.4;
	filter:alpha(opacity=40);
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	z-index: -1;
}

.suerperCourseTitle{
	color:#fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}

.surperCourseContentCon{
	padding-top:1rem;
	background-color: #adcaf9;
	height: 146px;
	font-size:17px;
	line-height: 20px;
	color:#100763;	
}
.surperCourseContentCon p{
	margin-top:0.4rem;
}

/*-------------- 课程收获------------------*/
.gainOuterCon{
	background-color: #0f0f37;
	height: 200px;
}

.gainCon{
	width: 1200px;
	text-align: center;
	padding-top:3%;
	margin:auto;
}

.gainPlanOuterCon{
	background-color: #d5e5fe;
}

.gainPlanInnerCon{
	margin:auto;
	padding-top:3%;
}


	.gainplanVericialTimeLineCon{
		position: relative;
		background-color: #c9d7ed;
		height: 200px;
		width: 1006px;
		margin:auto;
	}	
	
	.gainplanVericialTimeLineCon:before{
		content: '';
		height: 2px;
		width: 100%;
		background-color: #ceced0;
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		margin:auto;
		display: block;
	}

	.gainplanTimeLineUl{
		list-style: none;	
		position: absolute;
		top:30px;
		left:56px;	
		bottom:0;
		right:0;
		text-align: center;
		width: 900px;
		margin:auto;
	}

	.gainPlanItemTitle{
		font-weight: bold;
		font-size: 22px;
		line-height: 22px;
	}

	.gainPlanTimeLineLi{
		display: inline-block;
		margin-right: 60px;
	}

	.gainPlanTimeLineLi:hover{		
		cursor: pointer;
	}

	.gainPlanTimeLineLi:hover .gainPlanItemTitle{
		transform:scale(1.1,1.1);
		transition:all 0.4s ease;
	}
 

	.gainPlanItemNumberCon{
		color:#fff;
		margin-bottom: 40px;
		display: block;
		text-align: center;
		position: relative;		
	}

	.gainPlanItemNumberCon:after{
		display: block;
		content: '';
		border-left-width: 1px;
		border-left-style: solid;
		text-align: center;
		height: 40px;
		width: 2px;
		margin:auto;
	}

	.gpn1{
		background-color: #0562fd;
	}

	.gpnb1:after{
		border-color: #0562fd;
	}

	.gpnT1{		
		color:#0562fd;
	}

	.gpn2{
		background-color: #ff8d07;
	}

	.gpnb2:before{
		border-color: #ff8d07;
	}

	.gpnT2{		
		color:#ff8d07;
		margin-bottom: 24px;
	}


	.gpn3{
		background-color: #8600f7;
	}

	.gpnb3:after{
		border-color: #8600f7;
	}

	.gpnT3{		
		color:#8600f7;
	}

	.gpn4{
		background-color: #e20683;
	}

	.gpnb4:before{
		border-color: #e20683;
	}

	.gpnT4{		
		color:#e20683;
	}

	.gainPlanItemNumber{
		padding:2px 0;
		color:#fff;
		text-align: center;
		font-size: 24px;
		line-height: 28px;
	}

	.gainplanItemCricle{
		border-radius: 50%;
		height: 10px;
		width: 10px;
	}

	.topcircleitem{
		position: absolute;
		top:67px;
		left:-3px;
		right: 0;
		bottom:0;
		margin:auto;
		text-align: center;
	}

	.topcircleitemB{
		position: absolute;
		top:-66px;
		left:-2px;
		right: 0;
		bottom:0;
		margin:auto;
		text-align: center;
	}

	/*---另一种--*/

	.gainPlanItemNumberConB{
		color:#fff;
		margin-bottom: 40px;
		display: block;
		text-align: center;
		position: relative;		
	}


	.gainPlanItemNumberConB:before{
		display: block;
		content: '';
		border-left-width: 1px;
		border-left-style: solid;
		text-align: center;
		height: 40px;
		width: 2px;
		margin:auto;
		margin-top:20px;
	}

.gainplanContentShowCon{
	margin:auto;
	padding-top:4%;
	height: 500px;
	position: relative;
	background-color: #d5e5fe;
	text-align: center;
}

.gainplanContentShowItem{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	margin:auto;
}

.gpTimeLineUl{
	list-style: none;
	position: absolute;
	margin-top:40px;
	margin-left: 156px;
	padding-bottom: 30px;	
}

.gpTimeLineUl:before{
	content: '';
	height: 100%;
	width: 2px;
	position: absolute;
	top:0;
	left:0px;
	right: 0;
	bottom: 0;
}

.gpTimeLineNum{
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	line-height: 50px;
	color:#fff;
	font-size:35px;
	position: absolute;
	left: -23px;
    top: -20px;
}

.gpTimeLineContentList{
	margin-left:50px;
}

.gpTimeLineTitle{
	font-weight: bold;
	text-align: left;
	font-size:22px;
	line-height: 26px;
}

.gpTimeListContent{
	padding:20px;
	text-align: left;
	width: 920px;
}

.gptlListItem{
	display: inline-block;
	width:200px;
	margin-top:10px;
	margin-right: 10px;
}

.gpliTitleC{
	font-size: 17px;
	line-height: 20px;
	color:#fff;
	padding:4px 0;
	text-align: center;
}

.gptlimgCon{	
	border-style: dashed;
	border-width: 1px;
}

.hidden{
	display: none;
}

/*-----颜色组合-----*/
.gptlnumco1{
	background-color: #0562fd;
}

.gptltco1{
	color:#0562fd;
}

.gptlul1:before
{
	background-color: #0562fd;
}

.gplistitemborderc1{
	border-color: #0562fd;
}

.gpliTitleC1{
	background-color: #0562fd;
}

/*-----------2--------------*/
.gptlnumco2{
	background-color: #ff8d07;
}

.gptltco2{
	color:#ff8d07;
}

.gptlul2:before
{
	background-color: #ff8d07;
}

.gplistitemborderc2{
	border-color: #ff8d07;
}

.gpliTitleC2{
	background-color: #ff8d07;
}

/*-----------3--------------*/
.gptlnumco3{
	background-color: #8600f7;
}

.gptltco3{
	color:#8600f7;
}

.gptlul3:before
{
	background-color: #8600f7;
}

.gplistitemborderc3{
	border-color: #8600f7;
}

.gpliTitleC3{
	background-color: #8600f7;
}

/*-----------4--------------*/
.gptlnumco4{
	background-color: #e20683;
}

.gptltco4{
	color:#e20683;
}

.gptlul4:before
{
	background-color: #e20683;
}

.gplistitemborderc4{
	border-color: #e20683;
}

.gpliTitleC4{
	background-color: #e20683;
}

/*----------------- 视觉模板 -------------------*/
.viewOuterCon{
	background:url(../images/sell/viewback1.png) 0 0 no-repeat;
	height: 707px;
}

.viewCon{
	margin:auto;
	padding-top:4%;
}

.viewContentCon{
	margin-top:2%;
	position: relative;    
}

.viewShowImgCon{
	text-align: center;
    width: 450px;
    top: 0;
    left: 20px;
    display: inline-block;
    /* position: absolute; */
}

.viewShowImg{
	position: absolute;
    width: 501px;
    top: 90px;
    left: 91px;
    right: 0;
    bottom: 0;
}

.viewshowRightMenu{
	display: inline-block;
	width: 470px;
	margin-left:174px;
}

.viewshowMenumPart{
	margin-top:30px;
}

.viewMenuCon{
	margin-top:40px;
}

.viewMenuItem{
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}

.viewMenuItemTextCon{
	color:#fff;
	font-size:20px;
	line-height: 20px;
	font-weight: bold;
	margin-top:12px;
}

.viewMenuItemImgCon{
	height: 94px;
	width: 94px;
}

.viewTitleCon {
	text-align: center;
}

.viewc11{
	background:url(../images/sell/viewcontent11.png) 0 0 no-repeat;
}

.viewc12{
	background:url(../images/sell/viewcontent12.png) 0 0 no-repeat;
}

.viewc13{
background:url(../images/sell/viewcontent13.png) 0 0 no-repeat;
}

.viewc14{
background:url(../images/sell/viewcontent14.png) 0 0 no-repeat;
}

.viewc21{
background:url(../images/sell/viewcontent21.png) 0 0 no-repeat;
}

.viewc22{
background:url(../images/sell/viewcontent22.png) 0 0 no-repeat;
}

.viewc23{
background:url(../images/sell/viewcontent23.png) 0 0 no-repeat;
}

.viewc24{
background:url(../images/sell/viewcontent24.png) 0 0 no-repeat;
}


.viewc11:hover{
	background:url(../images/sell/viewcontent11.png) -94px 0 no-repeat;
}

.viewc12:hover{
	background:url(../images/sell/viewcontent12.png) -94px 0 no-repeat;
}

.viewc13:hover{
	background:url(../images/sell/viewcontent13.png) -94px 0 no-repeat;
}

.viewc14:hover{
	background:url(../images/sell/viewcontent14.png) -94px 0 no-repeat;
}

.viewc21:hover{
	background:url(../images/sell/viewcontent21.png) -94px 0 no-repeat;
}

.viewc22:hover{
	background:url(../images/sell/viewcontent22.png) -94px 0 no-repeat;
}

.viewc23:hover{
	background:url(../images/sell/viewcontent23.png) -94px 0 no-repeat;
}

.viewc24:hover{
	background:url(../images/sell/viewcontent24.png) -94px 0 no-repeat;
}

/*------------------大咖-------------------*/
.dakaOuterCon{
	background:url(../images/sell/viewback2.png) 0 0 no-repeat;
	height: 922px;
}

.dakaCon{
	margin:auto;
	text-align: center;
}

.dakaContextCon{
	padding-top:3%;
	margin:auto;
}

.dakaIntroCon{
	height: 484px;
	overflow: hidden;
}

.dakaIntroTable{
	text-align: center;
	margin:auto;
}

.dakaTeacherImgCon{
	margin-left: 100px;
	margin-right: 20px;
}

.dakaTeacherRightTextCon{
	position: relative;
}

.dakaTeacherNameCon{
	text-align: center;
	background:url(../images/sell/dakaTeacherNameBackImg.png) center center no-repeat;
	height: 147px;
	width: 147px;
	line-height: 147px;
	color:#fff;
	font-size: 23px;
	font-weight: bold;
	position: absolute;
	top:81px;
	left:-14px;
	right: 0;
	bottom:0;	
}

.dakaTeacherNameImg{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	color:#fff;
}

.dakaTeacherP{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	margin:auto;
	color:#fff;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

.dakaTeacher{
	text-align: left;
	background:url(../images/sell/dakaTeacherIntroBackImg.png) center center no-repeat;
	padding:140px;
	
	vertical-align: middle;	
	width: 320px;
}

.dakaTeacherText{
	font-size:18px;
	line-height: 20px;
	color:#fff;	
	vertical-align: middle;	
}

.dakaTeacherText p{
	margin-top:14px;
}

.dakaTeacherLittleList{
	padding-top:2%;
	width: 510px;
	margin-left: 220px;
}

.teachercommituCon{
	padding-top: 4%;
	text-align: right;
}

.teacherCommon{
	margin-right: 20%;
}

.dakateacherItem{
	border:1px solid #fff;
	display: inline-block;
	margin:0 20px;
}
.dakateacherItem:hover{
	border:1px solid #0562fd;
}

/*-----------------教练------------*/
.coachOuterCon{
	background-color:#d5e5fe;
}

.coachCon{
	margin:auto;
	padding:5% 0;
	text-align: center;
}

.coachTitleImg{
	max-width: 900px;
}

.coachItemCon{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
}

.coachItem{
	width:200px;
	border:1px solid #8f9399;
	margin:0 0.2rem;
	display: inline-block;
}

.coachItemIntroCon{
	padding: 5%;
	font-size: 16px;
	line-height: 20px;
	color:#0e1445;
	height: 220px;
	text-align: left;
	overflow: hidden;
}

.coachNameCon{
	background-color:#8f9399;
	padding:1rem 0;
	font-size: 25px;
	font-weight: bold;
	line-height: 27px;
	color:#fff;
}

.coachItem:hover{	
	border:1px solid #0562fd;
	cursor: pointer;
}

.coachItem:hover .coachNameCon{
	background-color:#0562fd;

}

.reportBtn{
	max-width: 200px;	
	width: 25%;
	padding-top:2%;
}

/*---------- 3 + 3 全免学习计划--------*/

.learnPlanOuterCon{
	background:url(../images/sell/learnPlanBack1.png) 0 0 no-repeat;
}

.learnPlanInerCon{
	margin:auto;
	text-align: center;
}

.learnPlanCon{
	margin:auto;
	height: 764px;
}

.learPlanImgCon{
	padding-top:5%;
}

.learnPlanSubTitleCon{
	padding-top: 3%;
}

.learnPlanMidCon{
	padding-top: 3%;
}

.learnPlanMidBtnCon{
	padding-top: 3%;
	text-align: right;
}

.learnBtnImg{
	margin-right: 10%;
}

.planMidImg{
	max-width: 900px;
	width: 80%;
}

.learnBtnImg{
	max-width: 200px;
}

/*----------报名信息----------------*/
.reportOuterCon{
	background:url(../images/sell/learnPlanBack2.png) 0 0 no-repeat;
	padding:3% 0;
}

.reportInnerCon{
	margin:auto;
	padding:3% 0;
	background-color:#f2f2f2;
	border:8px solid #5b4f70;
	width: 960px;
	border-radius: 20px;
	position: relative;
}


.reportTitleCon{
	position: absolute;
	top:-98%;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	text-align: center;
	height: 90px;
}

.reportTitleImg{
}

.reportTitle{
	color:#fff;
	font-size: 50px;
	line-height: 56px;
	position: absolute;
	top:8px;
	left:0;
	right: 0;
	margin:auto;
	font-weight: bold;
}

.reportContentCon{	
	margin-top:1%;
	margin-bottom: 3%;
	color:#12067c;
	text-align: center;
}

.reportContentLeftCon{
	display: inline-block;
	text-align: left;
	margin-right: 126px;
}

.reportQCodeCon{
	display: inline-block;

}

.reportContentLi{
	font-weight: bold;
	font-size:24px;
	line-height: 30px;
}

.reportSpecial{
	color:#000;
	font-size: 20px;
	line-height: 22px;
}

.reportGapLine{
	margin-top:0.4rem;
}

.reportSubSpecial{
	color:#000;
	font-size: 20px;
	line-height: 22px;
}

.QcodeS,.QCodeT,.QcodeF{
	font-size: 22px;
	line-height: 26px;
}

.QcodeS{
	font-weight: bold;
}

.ContactCon{
	text-align: center;
}

.ContactImg{
	max-width: 150px;
	margin: auto;
	margin-top:0.4rem;
}

.reportContentBottomCon{
	margin:auto 4%;
	border:1px dashed #12067c;
	padding:2%;
}

.reportBottomF{
	color:#12067c;
	font-size: 22px;
	line-height: 26px;
	font-weight: bold;
}

.reportBottomS{
	margin:0.4rem 0;
	font-size: 20px;
	line-height: 26px;
}

.reportBottominfoT{

	margin:0.4rem 0;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
}

.reportBottonTextCon{
	font-size: 20px;
	line-height: 26px;
	margin:0.2rem 0;
}

.coachNewItemCon{
	margin:auto;
	text-align: center;
	margin-top:4%;
}

.coachNewItem{
	width:200px;
	margin:0 0.4rem;
	display: inline-block;
	vertical-align: top;
}

.coachTeacherHeadImgCon{	
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.coiachTeacherHeadImg{
	border:1px solid #8f9399;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.coachTeacherHeadShadow{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	width: 100%;
	height: 100%;
	background-color: #8f9399;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: none;
}

.coachNewItemIntroCon{
	/*border:1px solid #8f9399;*/
	padding: 5%;
	font-size: 16px;
	line-height: 20px;
	/*color:#8f9399;*/	
	height: 220px;
	text-align: left;
	overflow: hidden;
	margin-top:-20px;
	padding-top:30px;

	border:1px solid #0562fd;
	color:#0e1445;

}

.coachNewItemName{
	/*background-color: #8f9399;*/
	padding:1.4rem 0;
	font-size: 25px;
	font-weight: bold;
	line-height: 27px;
	color:#fff;

		background-color: #0562fd;
}

.coachNewItem:hover
{	
	cursor: pointer;
}
/*
.coachNewItem:hover .coachNewItemName{
	background-color: #0562fd;
}

.coachNewItem:hover .coachNewItemIntroCon{
	border:1px solid #0562fd;
	color:#0e1445;
}

.coachNewItem:hover .coachTeacherHeadShadow{
	display: none;
}

.coachNewItem:hover .coiachTeacherHeadImg{
	border:1px solid #0562fd;
}*/